.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.addtagform {
  height: 327px;
}

.btn {
  margin: 2px 0;
}

.boobutton {
  height: 32px;
  padding-top: 3.5px;
  width: 66px;
}

.buttonarea {
  padding-bottom: 5px;
}

.card {
  height: 155px;
}

.cardfiller {
  height: 29px;
}

.costumeimage {
  max-height: 50vh;
  max-width: 33vh;
}

.detailtags {
  height: 33vh;
  overflow-y: scroll;
  padding: 5px;
}

.elementcard {
  height: 148px;
  margin-top: 15px;
}

.elementform {
  height: 116px;
}

.filtersidebar {
  border-right: 1px solid #ccc;
  height: 85vh;
  padding-right: 0;
}

.fixedheightmain {
  height: 74vh;
}

.fixedheightdesc {
  height: 21vh;
}

.fixedheighttag {
  height: 37vh;
  overflow-y: scroll;
}

.floatingboo {
  margin-top: -4.5px;
}

.logoutbutton {
  margin-right: 5px;
  margin-top: 8px;
}

.modal-dialog {
  width: 125vh;
}

.nohoverdefault {
  margin-right: 2px;
}

.nohoverdefault:hover {
  background-color: #fff;
  border-color: #ccc;
  cursor: default;
}
.nohoverprimary {
  margin-right: 2px;
}
.nohoverprimary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: default;
}

.pagetitle {
  padding-left: 15px;
}

.pullpubliccheckboxup {
  margin-top: -31px;
}

.pulltextareaup {
  margin-top: -2px;
}

.scrollingsidebar {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  height: 85vh;
  overflow-y: scroll;
}

.scrollthetags {
  height: 24vh;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow-y: scroll;
  padding: 5px;
}

.searchinput {
  margin-right: 15px;
}

.supplyselect {
  margin-bottom: 20px;
}

.supplytagwell {
  height: 44vh;
  margin-bottom: 20px;
  margin-top: 5px;
  overflow-y: scroll;
  padding: 5px;
}

.tagform {
  height: 57vh;
  overflow-y: scroll;
}

.topofscrollingsidebar {
  margin-top: 15px;
}
