<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>


<div class="container-fluid">
  <div class="col col-sm-3 filtersidebar">
    <div style="margin-right: 15px">
      <input class="form-control" placeholder="Search by title" ng-model="closet.search">
      <hr>      
    </div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid">
      <h1 style="padding-left: 15px">Closet</h1> 
      <hr>
      <div class="col col-sm-6" ng-hide="closet.costumes | isEmpty" ng-repeat="costume in closet.costumes | filter:closet.search">
        <div class="well well-lg card">
          <h4>{{costume.name}}
            <button class="btn btn-default boobutton floatingboo nohoverdefault pull-right">{{costume.boos.length}}   <i class="em em-ghost"></i>s</button>
          </h4>
          <hr>
          <a ng-click="closet.openModal(costume)" class="btn btn-default">View</a>
          <a href="#/{{costume.id}}/edit" class="btn btn-info">Edit</a>
          <button ng-click="closet.deleteCostume(costume.url)" class="btn btn-danger">Delete</button>
        </div>
      </div>
      <div class="col col-sm-6" ng-show="closet.costumes | isEmpty">
        <div class="well well-lg card">
          <h4>No costumes are in your closet yet!</h4>
          <a class="btn btn-default" href="#/home">Browse Costumes</a>
        </div>
      </div>
      <div class="col col-sm-6">
        <div class="well well-lg card">
        <div style="height:29px"></div>
          <hr>
          <a class="btn btn-info" href="#/create">Create a new Costume</a>
        </div>
      </div>
    </div>
  </div>
</div>
