<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>


<div class="container-fluid">
  <div class="col col-sm-3 scrollingsidebar">

    <div ng-hide="create.costumeelements | isEmpty" ng-repeat="element in create.costumeelements">
      <div class="well well-lg">
        <h5>{{element.name}}</h5>
        <hr>
        <span class="btn btn-default" ng-click="create.openEditModal(element)">Edit </span>
        <span class="btn btn-danger" ng-click="create.deleteSupply(element)">Delete</span>
      </div>
      <hr>
    </div>
   
    <div class="well well-lg elementcard">
      <hr>
      <div class="text-center">
        <span class="btn btn-info" ng-click="create.openCreateModal()">New Supply</span>
      </div>
    </div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid fixedheightmain">
      <h1 class="pagetitle">{{create.title}}</h1> 
        <div style="margin-top: -31px" class="pull-right">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="create.costume.public"> <p>Public</p>
          </label>
        </div>
      <hr>
        <div class="col col-sm-6">
          <!-- IMAGE HERE -->
        </div>
        <div class="col col-sm-6">
          <div class="fixedheightsub">
            <!-- NAME -->
            <div class="form-group">
              <input class="form-control" placeholder="Costume Title" ng-model="create.costume.name">
            </div>
            <!-- DESCRIPTION -->
            <div class="form-group">
                <textarea style="margin-top: -2px" class="form-control"
                       placeholder="talk about some features of your costume or special instructions here."
                       ng-model="create.costume.description"
                       rows="5">
               </textarea>
            </div>
          </div>
          <hr>
          <div class="fixedheightsub">
           <!-- TAGS -->
            <div class="form-group">
              <div uib-collapse="!create.tagIsCollapsed" class="well well-lg scrollthetags">
                <span ng-repeat="tag in create.tags">
                  <span ng-hide="create.costume.tags | contains:tag" ng-click="create.addTag(tag)" class="btn btn-default">{{tag.name}}</span>
                  <span ng-show="create.costume.tags | contains:tag" ng-click="create.removeTag(tag)" class="btn btn-primary">{{tag.name}}</span>
                </span>
                <button type="button" class="btn btn-info" ng-click="create.tagIsCollapsed = !create.tagIsCollapsed">Add a New Tag</button>
              </div>
              <!-- ADD TAG -->
              <div uib-collapse="create.tagIsCollapsed" class="well well-lg scrollthetags form-group">
                <input class="form-control" ng-model="create.tag.name" placeholder="Tag name">
                <span ng-click="create.createTag()" class="btn btn-default">Add</span>
                <span ng-click="create.tagIsCollapsed = !create.tagIsCollapsed" class="btn btn-default">Cancel</span>
              </div>
            </div>
          </div>
        </div>
      </div>
        <hr>
        <div class="text-right">
          <a href="#/closet" class="btn btn-default">Back to Closet</a>
          <button ng-click="create.createCostume()" class="btn btn-primary">Submit</button>
          <button ng-click="create.deleteCostume()" class="btn btn-danger">{{create.deleteButton}}</button>
        </div>
    </div>
  </div>
</div>
