<!-- <div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div> -->


<div class="container-fluid">
  <div class="col col-sm-3 scrollingsidebar">
    <div ng-repeat="supply in detail.supplies">
      <hr>
      <h3>{{supply.name}}</h3>
      <h5>{{supply.element.name}}</h5>
      <p>{{supply.description}}</p>
      <div class="well well-lg">
        <span class="btn btn-primary nohoverprimary" ng-repeat="tag in supply.tags">
        {{tag.name}}
        </span>
        <span class="btn btn-default nohoverdefault" ng-if="supply.tags | isEmpty">No Tags</span>
      </div>
    </div>
    <div class="well well-lg topofscrollingsidebar" ng-if="detail.supplies | isEmpty">No Supplies</div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid fixedheightmain">
      <h1 class="pagetitle">{{detail.costume.name}}</h1> 
      <hr>
        <div class="col col-sm-6">
          <!-- image here -->
          <img class="img-thumbnail center-block" style="max-width: 33vh; max-height: 50vh" ng-src="{{detail.costume.image}}" alt="costume image">
        </div>
        <div class="col col-sm-6">
          <p class="fixedheightsub">{{detail.costume.description}}</p>
          <hr>
          <div class="well well-lg fixedheightsub">
            <!-- tags here -->
            <span class="btn btn-primary nohoverprimary" ng-repeat="tag in detail.costume.tags">
              {{tag.name}}
            </span>
            <span class="btn btn-default nohoverdefault" ng-if="detail.costume.tags | isEmpty">No Tags</span>
          </div>
        </div>
    </div>
    <hr>
    <div  style="padding-bottom: 5px" class="text-right">
    <!-- how many boos. -->
     <button class="btn btn-default boobutton nohoverdefault">{{detail.costume.boos.length}}   <i class="em em-ghost"></i>s</button>
      <!-- unboo button -->
      <button ng-if="detail.userBoo" ng-click="detail.unBoo()" class="btn btn-danger boobutton">Un <i class="em em-ghost"></i></button>
      <!-- boo button -->
      <button ng-if="!detail.userBoo" ng-click="detail.boo()" class="btn btn-success boobutton"><i class="em em-ghost"></i></button>
      <button ng-hide="detail.costume.owner === detail.userInfo.url" ng-click="detail.copyToCloset()" class="btn btn-info">Save to Closet</button>
      <a ng-show="detail.costume.owner === detail.userInfo.url" ng-click="detail.goToEdit()"class="btn btn-info">Edit</a>
      <!-- TODO: store the previous path in the resolve for the detail view. -->
      <button class="btn btn-default" ng-click="detail.cancel()">back</button>
    </div>
  </div>
</div>
