<div class="container-fluid">
  <div class="col col-sm-3 scrollingsidebar">
    <div ng-repeat="supply in detail.supplies">
      <hr>
      <h3>{{supply.name}}</h3>
      <h5>{{supply.element.name}}</h5>
      <p>{{supply.description}}</p>
      <div class="well well-lg">
        <span class="btn btn-primary nohoverprimary" ng-repeat="tag in supply.tags">
        {{tag.name}}
        </span>
        <span class="btn btn-default nohoverdefault" ng-if="supply.tags | isEmpty">No Tags</span>
      </div>
    </div>
    <div class="well well-lg topofscrollingsidebar" ng-if="detail.supplies | isEmpty">No Supplies</div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid fixedheightmain">
      <h1 class="pagetitle">{{detail.costume.name}}</h1> 
      <hr>
        <div class="col col-sm-6">
          <!-- image here -->
           <div ng-if="detail.costume.image.length >0">
            <img class="img-thumbnail center-block costumeimage" ng-src="{{detail.costume.image}}" alt="costume image">
          </div>
          <!-- if there is no image uploaded. -->
          <div ng-if="detail.costume.image.length===0">
            <h4 class="text-center">No Costume Image</h4>
          </div>

        </div>
        <div class="col col-sm-6">
          <p class="fixedheightsub">{{detail.costume.description}}</p>
          <hr>
          <div class="well well-lg fixedheightsub">
            <!-- tags here -->
            <span class="btn btn-primary nohoverprimary" ng-repeat="tag in detail.costume.tags">
              {{tag.name}}
            </span>
            <span class="btn btn-default nohoverdefault" ng-if="detail.costume.tags | isEmpty">No Tags</span>
          </div>
        </div>
    </div>
    <hr>
    <div class="text-right buttonarea">
    <!-- how many boos. -->
     <button class="btn btn-default boobutton nohoverdefault">{{detail.costume.boos.length}}   <i class="em em-ghost"></i>s</button>
     <!-- unboo button, checking if owner exists in list of costume boos. -->
      <button ng-repeat="boo in detail.costume.boos | filterBy:['owner']: detail.user.url as unbooable" class="btn boobutton btn-danger" ng-click="detail.unBoo(boo)">Un<i class="em em-ghost"></i></button>

      <!-- boo button, checking if unboo button is showing. -->
      <button  class="btn btn-success boobutton" ng-if="unbooable | isEmpty" ng-click="detail.boo()"><i class="em em-ghost"></i></button>

      <!-- Copy to closet button, if costume is not owned by user. -->
      <button ng-hide="detail.costume.owner === detail.user.url" ng-click="detail.copyToCloset()" class="btn btn-info">Save to Closet</button>

      <!-- Edit button, if costume is owned by user. -->
      <a ng-show="detail.costume.owner===detail.user.url" ng-click="detail.goToEdit()" class="btn btn-info">Edit</a>

      <!-- Close modal button. -->
      <button class="btn btn-default" ng-click="detail.cancel()">Close</button>
    </div>
  </div>
</div>
