<div class="modal-header">  
  <h3>Edit Supply</h3>
</div>
  <!-- since there are three forms here, the DOM gets confused on which form to submit on 'enter' if they're in 'form' elements. so no 'forms'. TODO: add validation. -->
<div class="modal-body">
  <!-- NAME -->
  <div class="form-group">
    <label for="name">Supply Name</label>
    <input type="text" class="form-control" id="name" ng-model="editSupply.costumeelement.name" placeholder="eg. 'red and white baseball tee', 'gold spray paint'" required>
  </div>
  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" ng-model="editSupply.costumeelement.description" placeholder="add some instructions or additional info here." rows="4"></textarea>
  </div>
  <!-- SUPPLY TYPE -->
  <div class="form-group">
    <label for="element">Supply Type</label>
    <div class="elementform" uib-collapse="!editSupply.elementIsCollapsed">
      <select class="form-control" ng-model="editSupply.costumeelement.element">
        <option disabled selected value> -- select an option -- </option>
        <option ng-selected="element.url == editSupply.costumeelement.element" ng-repeat="element in editSupply.elements" value="{{element.url}}">{{element.name}}</option>
      </select>
      <button class="btn btn-info" ng-click="editSupply.elementIsCollapsed = !editSupply.elementIsCollapsed">Create a New Supply</button>
    </div>
    <!-- add new supply form. -->
    <div uib-collapse = "editSupply.elementIsCollapsed">
      <div class="elementform well well-lg">
        <input type="text" class="form-control" id="name" ng-model="editSupply.element.name" placeholder=" Name">
        <span class="btn btn-default" ng-click="editSupply.createElement()">Add</span>
        <span class="btn btn-default" ng-click="editSupply.elementIsCollapsed =! editSupply.elementIsCollapsed">Cancel</span>
      </div>
    </div>
  </div>

  <!-- TAGS -->
  <div class="form-group">
    <label>Tags</label>
    <div uib-collapse="!editSupply.tagIsCollapsed">
      <div class="well well-lg">
        <span ng-repeat="tag in editSupply.tags">
          <span ng-hide="editSupply.costumeelement.tags | contains:tag.url" ng-click="editSupply.addTag(tag.url)" class="btn btn-default">{{tag.name}}</span>
          <span ng-show="editSupply.costumeelement.tags | contains:tag.url" ng-click="editSupply.removeTag(tag.url)" class="btn btn-primary">{{tag.name}}</span>
        </span>
        <button class="btn btn-info" ng-click="editSupply.tagIsCollapsed = !editSupply.tagIsCollapsed">Create a New Tag</button>
      </div>
    </div>
    <!-- add new tag form.  -->
    <div uib-collapse="editSupply.tagIsCollapsed" >
      <div class="well well-lg container-fluid">
        <div class="form-group">
          <input class="form-control"
                 placeholder="eg. 'blue', 'mini length', 'striped'"
                 ng-model="editSupply.tag.name"
                 type="text"
                 id="elementtagname"
                 required>
          <span ng-click="editSupply.createTag()" class="btn btn-default">Add</span>
          <span ng-click="editSupply.tagIsCollapsed = !editSupply.tagIsCollapsed" class="btn btn-default">Cancel</span>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="modal-footer">
  <span ng-click="editSupply.ok()" class="btn btn-primary">Submit</span>
  <span ng-click="editSupply.cancel()" class="btn btn-default">Cancel</span>
</div>
