<div class="searchinput">
  <input class="form-control" placeholder="Search by title" ng-model="home.search">
  <hr>
  <div class="text-center">
    <h4>Filter by Tag</h4>
  </div>
  <!-- tag filter -->
  <div class="well well-lg scrollthetags">
     <span ng-repeat="tag in home.tags">
      <span ng-hide="home.filterer.tags | contains:tag" ng-click="home.addTag(tag)" class="btn btn-default">{{tag.name}}</span>
      <span ng-show="home.filterer.tags | contains:tag" ng-click="home.removeTag(tag)" class="btn btn-primary">{{tag.name}}</span>
    </span>
  </div>
  <hr>
  <!-- supply filter- just make this a select. -->
  <div class="text-center">
    <h4>Filter by Supply</h4>
  </div>
  <select class="form-control" ng-model="home.filterer.supply">
    <option disabled selected value> -- select an option -- </option>
    <option ng-selected="supply.url == home.filterer.supply" ng-repeat="supply in home.supplies" value="{{supply.url}}">{{supply.name}}</option>
  </select>
  <!-- supply-tag filter TODO disable this unless the supply has been chosen.-->
  <div class="well well-lg scrollthetags">
     <span ng-repeat="tag in home.tags">
      <span ng-hide="home.filterer.supplytags | contains:tag" ng-click="home.addSupplyTag(tag)" class="btn btn-default">{{tag.name}}</span>
      <span ng-show="home.filterer.supplytags | contains:tag" ng-click="home.removeSupplyTag(tag)" class="btn btn-primary">{{tag.name}}</span>
    </span>
  </div>
  <hr>
  <!-- TODO: find a way to disable these buttons. -->
  <button ng-click="home.applyFilter()" class="btn btn-primary">Apply</button>
  <button ng-click="home.resetFilter()" class="btn btn-default">Reset Filter</button>
</div>
