<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>


<div class="container-fluid">
  <div class="col col-sm-3 filtersidebar">
    <div ng-include="'partials/filter.html'"></div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid">
      <h1 ng-if="!home.filtering" style="padding-left: 15px">Browse</h1> 
      <h1 ng-if="home.filtering" style="padding-left: 15px">Search</h1> 
      <hr>
      <div class="col col-sm-6" ng-repeat="costume in home.costumes | filter:home.search" ng-if="!home.filtering">
        <div class="well well-lg card">
          <h4>{{costume.name}}
            <button class="btn btn-default boobutton floatingboo nohoverdefault pull-right">{{costume.boos.length}}   <i class="em em-ghost"></i>s</button>
          </h4>
          <hr>
           <button ng-repeat="boo in costume.boos" class="btn btn-danger boobutton" ng-show="boo.owner==home.userInfo.url" ng-click="home.unBoo(boo.url)">Un<i class="em em-ghost"></i></button>
          <button class="btn btn-success boobutton" ng-hide="home.hasUserBood(costume.boos)==true" ng-click="home.boo(costume.url)"><i class="em em-ghost"></i></button>
          <a ng-click="home.openModal(costume)" class="btn btn-default">View</a>
        </div>
      </div>
      <div ng-if="home.filtering" ng-include="'partials/filteredhome.html'">
        <!-- including filtered results. -->
      </div>
    </div>
  </div>
</div>
