<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>

<h1 class="text-center">Browse Costumes</h1>
<div class="container">
  <div class="col col-sm-3">
    filter bar will go here.
  </div>
  <div class="col col-sm-9">
    <!-- Costume repeater. -->
    <div class="container-fluid">
      <div class="row">
        <div class="col col-xs-6" ng-repeat="costume in home.costumes">
          <h5>{{costume.name}}</h5>
          <p>{{costume.boos.length}} <i class="em em-ghost"></i>s</p>
          <button ng-repeat="boo in costume.boos" class="btn btn-default" ng-show="boo.owner==home.userUrl" ng-click="home.unBoo(boo.url)">Un<i class="em em-ghost"></i></button>
          <button class="btn btn-default" ng-hide="home.hasUserBood(costume.boos)==true" ng-click="home.boo(costume.url)"><i class="em em-ghost"></i></button>
        </div>
      </div>
    </div>
  </div> 
</div>
