<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>


<div class="container-fluid">
  <div class="col col-sm-3 filtersidebar">
    <div style="margin-right: 15px">
      <input class="form-control" placeholder="Search by title" ng-model="likes.search">
      <hr>      
    </div>
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid">
      <h1 style="padding-left: 15px">Boos</h1> 
      <hr>
      <div class="col col-sm-6" ng-repeat="boo in likes.boos">
        <div ng-repeat="costume in likes.boodCostumes | filterBy:['url']:boo.costume | filter:likes.search">
          <div class="well well-lg card">
            <h4>{{costume.name}}
             <button class="btn btn-default boobutton floatingboo nohoverdefault pull-right">{{costume.boos.length}}   <i class="em em-ghost"></i>s</button>
            </h4>
            <hr>
            <a ng-click="likes.openModal(costume)" class="btn btn-default">View</a>
            <button class="btn btn-info" ng-click="likes.saveToCloset(costume.url)">Save</button>
            <button class="btn btn-danger boobutton" ng-click="likes.unBoo(boo.url)">un<i class="em em-ghost"></i></button>
          </div>
        </div>
      </div>
       <div class="col col-sm-6" ng-show="likes.boodCostumes | isEmpty">
        <div class="well well-lg card">
          <h4>You haven't  <i class="em em-ghost"></i> 'd any costumes yet!</h4>
          <a class="btn btn-default" href="#/home">Browse Costumes</a>
        </div>
      </div>
    </div>
  </div>
</div>
