<div ng-include="'partials/navbar.html'" class="navbar navbar-default" ng-controller="Nav as nav"></div>


<div class="container-fluid">
  <div class="col col-sm-3">
    Filter Sidebar will go here.
  </div>
  <div class="col col-sm-9">
    <div class="container-fluid">
      <h1 style="padding-left: 15px">Boos</h1> 
      <hr>
      <div class="col col-sm-6" ng-repeat="boo in likes.boos">
        <div ng-repeat="costume in likes.boodCostumes | filterBy:['url']:boo.costume">
          <div class="well well-lg card">
            <h4>{{costume.name}}</h4>
            <hr>
            <a href="#/{{costume.id}}" class="btn btn-default">View</a>
            <button class="btn btn-info" ng-click="likes.saveToCloset(costume.url)">Save</button>
            <button class="btn btn-danger" ng-click="likes.unBoo(boo.url)">un<i class="em em-ghost"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
